.site-nav-item {
    align-items: center;
    transition: color var(--transition-dur-and-func);
    
    
}
.site-nav-item: not (:last-child) {
    margin-right: 50px
}
.site-nav {
    display: flex;
    column-gap: 50px;
    align-items: center;
   
}
.site-nav-link {
    text-decoration: none;
    color: var(--secondary-color);
    font-weight: 500;
    letter-spacing: 0.02em;
    display: inline-block;
    align-items: center;
    margin-left: auto;
    transition: color var(--transition-dur-and-func);
}
.site-nav-link:focus {color: var(--outline-color);

}
.is-active::after{
    position: absolute;
    bottom: -32px; 
    left: 0;
    width: 100%;
    content: "";
    display: block;
    height: 4px;
    border-radius: 2px;
    background-color: var(--outline-color);
}
.is-active{
    color: var(--outline-color);
}
.is-active{
    color: var(--outline-color);
}

.is-active::after{
    position: absolute;
    bottom: -32px; 
    left: 0;
    width: 100%;
    content: "";
    display: block;
    height: 4px;
    border-radius: 2px;
    background-color: var(--outline-color);
}
.auth-nav {
    display: flex;
    column-gap: 50px;
    justify-content: center;
    align-items: center;
    margin-left: auto;
        
}

.auth-nav-item {
font-weight: 500;
font-size: 14px;
line-height: 1.3px;
letter-spacing: 0.02em;
color: var(--secondary-color);
text-align: center;
margin-left: auto;
align-items: center;
justify-content: center;
}

.auth-nav-link {
    text-decoration: none;
    color: var(--secondary-color);
    display: flex;
    text-decoration: none;
    align-items: center;
    transition: color var(--transition-dur-and-func);
    
}
.auth-nav-link: (:last-child) {
    margin-right: 0px;
    align-items: center;
    display: flex;
    justify-content: center;
    transition: color var(--transition-dur-and-func);
}
.auth-nav-link:focus,.auth-nav-link:hover  {color: var(--outline-color);

}


.current {
    color: var(--outline-color);
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 0.02em;
    font-size: 14px;
    position: relative;
    transition: color var(--transition-dur-and-func);
}

.current:hover, .current:focus {
    color: var(--outline-color)
}
.site-nav-link {
    text-decoration: none;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--main-color-fomt);
    display: flex;
    transition: var(--outline-color);
}
.site-nav-link:hover, .site-nav-link:focus {
    color: var(--outline-color);
}
.site-nav-item {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.33;
    letter-spacing: 0.02em;
    
    
    }